[2020-01-29 17:20] ankingcodes opened #1 "Make codemon global"
The codemon command works only in current repository. Make it global so that it can be used anywhere.

[2020-01-29 17:23] ankingcodes opened #2 "Complete listen command"
Listen command should do the following:
- It should detect changes in the filename given in argument
- It should continuously recompile and give result every time code is saved,

[2020-01-29 21:36] ankushbhardwxj commented on #1
This is fixed by #3

[2020-01-29 21:36] #1 closed

[2020-01-30 13:19] #2 closed

[2020-01-31 13:45] ankingcodes opened #4 "improve installation"
installation is quite buggy. Test if it works and improve if possible.

[2020-01-31 13:48] ankushbhardwxj commented on #4
@RAJAGOPALAN-GANGADHARAN hey what's up ? This is my first python project. Its an awesome tool for competitive programming. The installation was buggy, however, I made some improvements in it. Please try installing it and please let me know if its buggy ? Also, I'd be grateful if you could help me with some more improvements and also how to make this an actual python package on PYPI.

[2020-02-01 13:31] RAJAGOPALAN-GANGADHARAN commented on #4
@ankingcodes thats really useful tool. Will test out and let you know. I'm not an expert on python so I have no idea about publishing to pypi. Sorry!

[2020-02-01 14:34] ankushbhardwxj commented on #4
@RAJAGOPALAN-GANGADHARAN Cool ! Try to install it and let me know if something is wrong.

[2020-02-01 15:26] RAJAGOPALAN-GANGADHARAN commented on #4
You could try using codeforces API to get inputs of problems i guess So instead of making it manually entering in input.txt it would be nice if u can extract from cf and test it on the code see if the output matches.

[2020-02-01 15:26] RAJAGOPALAN-GANGADHARAN commented on #4
Works like a charm for me :) Great job though!

[2020-02-01 15:33] ankushbhardwxj commented on #4
@RAJAGOPALAN-GANGADHARAN  actually I did think about getting inputs from codeforces, but the API doesn't support such a feature. Since most students use codechef too, and also codechef doesn't have an API, i am thinking of making a web scraper which can scrape the current url on browser and get inputs from the fields. What do u think ?
Also , if you like it please give a ⭐️

[2020-02-01 21:07] ankingcodes opened #5 "Enable Web Scraping ability"
The tool should get the current url in the browser and get the inputs to a question automatically.
We need to support this for codeforces atleast.

[2020-02-01 21:09] ankingcodes opened #6 "Enable practice mode"
Currently only contest mode is available. Give user ability to create singular files for practice.
`codemon init --practice`

[2020-02-02 03:15] RAJAGOPALAN-GANGADHARAN commented on #4
Web scrapper sounds great but im not really sure if those sites will allow a bot to scrape freely especially during contests(heavy load) but u can try to make it work. I would love that feature in this😇. Thank you for such a wonderful app.

[2020-02-05 15:46] #6 closed

[2020-02-05 15:46] ankushbhardwxj commented on #6
settled for `codemon practice <filename>`

[2020-02-09 14:40] ankushbhardwxj commented on #5
This issue might complicate the current working of the CLI

[2020-02-17 16:28] ankingcodes opened #7 "create custom inputs for problem"
This would be an alternative to the webscraping problem.
There's a video on YouTube where Errichto generates test cases and inputs for his coding problems. This would be a great addition in a place where the webscraper fails.

[2020-03-02 21:00] ankingcodes commented on #7
@Errichto check out this tool I made after watching your competitive programming setup video on YouTube. Let me know if you enjoy using this 👍 🚀 🎉

[2020-03-15 21:27] ankushbhardwxj commented on #4
@RAJAGOPALAN-GANGADHARAN Hi ! I'm stuck on a project. I'd really appreciate it if you can give me some suggestions on it. Let me know when you're free.

[2020-03-16 02:53] RAJAGOPALAN-GANGADHARAN commented on #4
Yeah where are you stuck, ill try my best to help you 😃

[2020-03-16 09:18] ankushbhardwxj commented on #4
@RAJAGOPALAN-GANGADHARAN Okay, first I'll give u some background info. about the project.
In C++ object oriented programming, we have classes and relations(inheritance) between classes. Also these classes have many different properties inside of them. This project is to help non-devs where the non dev draws diagrams and relations on a canvas and its converted to code automatically for them. Howeve

[2020-03-17 03:25] RAJAGOPALAN-GANGADHARAN commented on #4
Ahhhhh I get what are you are trying to ask. This would be a better conversation to have in a instant messaging platform( like IRC) ping me when you are free. Join server Freenode and dm ( Rajagopalan) 👍🏻

[2020-03-17 03:30] ankushbhardwxj commented on #4
I don't really use IRC. Are u available on Whatsapp or Telegram ?

[2020-03-19 17:37] ankingcodes opened #8 "--n || --name flag"
get a flag to create a cpp file with name given in arguments and initialise with default template.

[2020-03-19 21:14] ankushbhardwxj commented on #8
done by 02c9253e9c5e2afc85a3611d86f29327f6892358

[2020-03-19 21:14] #8 closed

[2020-03-26 09:02] #4 closed

[2020-05-29 15:02] ankingcodes opened #9 "s"
Contents :
- [Arrays](##arrays-stl-container)
- [Vector](##vector-stl-container)
## Arrays STL container
Arrays are fixed-size sequence containers: they hold a specific number of elements ordered in a strict linear sequence.
Arrays offer contiguous storage, allowing constant time random access to elements. Pointers to an element can be offset to access other elements. They have fixed-size aggregat

[2020-05-29 15:04] #9 closed

[2020-06-12 20:43] ankingcodes opened #10 "Command for automated testing"
make a command such as `codemon test <filename>` which should generate testcases, run certain test program and show results in terminal.

[2020-06-12 21:03] ankingcodes opened #11 "Command to automatically push to Github"
Create a command `codemon push` ( for batch) and `codemon push <target>` to push a batch of files or target file with a generic commit message to github

[2020-11-13 15:19] #11 closed

[2020-11-13 15:19] #10 closed

[2020-11-13 15:19] #7 closed

[2020-11-13 15:19] #5 closed

[2020-11-13 15:46] ankingcodes opened #12 "Setup command for contest [cpp]"
`codemon init <contestName>` should create directories named `A, B, C, D, E, F`, where each directory should contain a `.cpp` file for writing code, `.in` file for inputs for the particular problem, `.out` for the outputs of that problem. The directory structure is as follows:
For a contest, for example codeforces round 1353,
[code]
Make sure `.cpp` files created uses template from `~/.codemon` di

[2020-11-13 15:48] ankingcodes opened #13 "Setup command for contest [Python]"
Add a flag `-py` to `codemon init <contestName>` which would do initialisation described in #12 for python coders.

[2020-11-13 15:48] ankingcodes opened #14 "Setup command for contest [java]"
Add a flag `-java` to `codemon init <contestName>` which would do initialisation described in #12 for java coders.

[2020-11-13 15:52] ankingcodes opened #15 "User register"
Add a command `codemon reg` which would ask for Name, Codeforces username, password, Github username, Github password, Github competitive programming repository URL etc. which would be saved at a directory named `.codemon` by the filename `meta`. Also, add custom templates by the name of `template_py`, `template_cpp`, `template_java` inside the `.codemon` folder.

[2020-11-13 15:55] ankingcodes opened #16 "Improve "codemon init -n""
- [x] Add flags `-py`, `-cpp`, `-java` which would create a file with the extension matching to the flag and use the associate template `template_<type>` stored at `~/.codemon` (at root).
- [ ] Add flag `-t <template_name>` which would create file with specified template name. If template doesnt exist, show error.
- [ ] Add functionality to fetch testcases from codeforces for a single file by inte

[2020-11-13 16:34] ankingcodes opened #17 "Scrape codeforces and fetch input output"
Command : `codemon fetch` inside contest directory.
- Check if the current working directory is a contest directory ? If not, display error message to `cd` into a contest directory.
- Parse the contest number from the directory name, if contest number is not parsed, display error message to rename directory with the contest number i.e., if contest round is Codeforces Round 1234 then directory shou

[2020-11-13 16:38] ankingcodes opened #18 "improve codemon listen"
After merge of #55 , codemon now creates a directory for each problem, containing `A.cpp, A.in, A.op` and inputs,outputs are fetched from codeforces website. Therefore, we need `codemon listen` to fetch inputs from `A.in` compile `A.cpp` and then display the output.
As a last step, it should compare it with the sample outputs in `A.op` and then show if they match or not.

[2020-11-13 16:49] ankingcodes opened #19 "codemon test & push"
- [ ] Add a command `codemon test <problem_name>` to run diff between output of particular program and testcase generated output.
- [ ] Add `codemon push` to push to git repository using git username and password available at `~/.codemon/meta`.

[2020-11-29 14:20] lucifer0987 commented on #12
Hey,
I came to know about this project from NJACK winter of code.
I want to work on this issue.
Can you please explain about these files? I understood the remaining things.

test_case.cpp (program to write testcase)
prog
test_case (generate testcases in this file)

Hoping for a reply soon!!

[2020-11-29 15:41] ankushbhardwxj commented on #12
@lucifer0987 - Watch this [video](https://www.youtube.com/watch?v=JXTVOyQpSGM) by Errichto. Note the part where he writes a program to generate testcases. Therefore, `test_case.cpp` is the file where user is supposed to write that program.
When we compile C++, we get `a.out` which has been renamed as `prog` here. `test_case` is the file where the testcases generated by the program in `test_case.cp

[2020-11-30 04:16] lucifer0987 commented on #12
ok, got it.
Thanks for quick reply.

Just a suggestion.
Since, testcases that anyone is going to generate differs from task to task. Can't we generate these 3 files for each task separately?
That way, we can write the generated testcases directly into the "input" file of each task.

And, each task will have 5 files.
a.cpp - c++ code
a.in - input given to the code
a.op - output generated by the cod

[2020-11-30 05:19] lucifer0987 opened #21 "Not working on windows platform with cmd"
"." is not a recognized command.
It gives this error on windows platform after compilation when we run the executable of cpp file.

[2020-11-30 05:19] lucifer0987 commented on #21
Can you please take a look and approve it?
And, if approved, I would like to work on it.

[2020-11-30 05:55] lucifer0987 opened #22 "add a help section for common queries in codemon"
we can add "codemon help" command for helping users with some simple queries regarding the use of codemon on different operating systems.
I would also like to work on it once its approved.

[2020-11-30 09:07] paramsiddharth commented on #21
I can fix that issue and would like to work on this. Could you assign it to me?

[2020-11-30 09:11] paramsiddharth commented on #16
Could you please elaborate the last point? Thank you!

[2020-11-30 11:42] lucifer0987 commented on #21
I am already working on this and kind of fixed this. Thats why, I created this issue. I was just waiting for @ankingcodes nod.
Really sorry for this confusion @paramsiddharth .

[2020-11-30 12:43] ankushbhardwxj commented on #16
@paramsiddharth - Currently if we create a file using `codemon init -n` we get a file with the given filename, inside of which we have an header such as:
[code]
We want to get the username from `~/.codemon/meta` and use it here along with the time of creation of the file.

[2020-11-30 12:49] ankushbhardwxj commented on #22
@lucifer0987 - codemon currently displays help messages on simply typing `codemon`. But I like your suggestion too, instead of `codemon help` you can add a flag `codemon --help`

[2020-11-30 12:52] ankushbhardwxj commented on #21
@lucifer0987 - can you send a screenshot of this issue ? Also, specify which terminal are you using ? I'm using WSL2 so I don't get this error.

[2020-11-30 12:57] ankushbhardwxj commented on #12
@lucifer0987 - During a contest, we need not write testcases for each problem. If we create 3 files for each task, we will have a lot of redundant files which will simply eat our storage. Therefore, this solution would not be very helpful for some people.
However, if you can add a command `codemon clean`, which clears up all the mess(prog, input.txt, testcase files) after a contest, then this migh

[2020-11-30 13:02] ankushbhardwxj commented on #21
@paramsiddharth - since @lucifer0987 has filed the issue and wants to work on it, I think he should be given the first chance to work on it. Feel free to make a PR if he doesn't.

[2020-11-30 13:02] lucifer0987 commented on #12
Yeah sure!!
That would be a good thing.
I will implement codemon clean.
Only the cpp files of the tasks will be remaining.

[2020-11-30 13:06] lucifer0987 commented on #22
Ok sure.
Thanks!!

How should raise a PR?
Should i create a new branch or raise a PR to the main branch only?
And, i should also clean the build files, right?

[2020-11-30 13:18] ankushbhardwxj commented on #22
Create a separate branch for each PR.

Yeah, add them to `.gitignore`

[2020-11-30 13:21] ankushbhardwxj commented on #12
There is a catch to this. We can't randomly delete the *mess*. We can directly delete prog. But for `input.txt`, we must check whether it contains something, if its empty delete it else give an error message saying "Input file is not empty, do you want to delete ? (Y/N)` and user can decide what to do with it. For the testcase files, we have to "diff" them before deleting, i.e., if the testcase fi

[2020-11-30 13:22] ankushbhardwxj commented on #12
Can you create a separate issue for `codemon clean` and express these ideas properly there?

[2020-11-30 13:46] lucifer0987 commented on #21
I am working on windows 10 and I am using CMD.
when we run the prog file with input, then we are using '.', I think that is creating the issue. and writing different codes for different OS will resolve it.
![Screenshot (516)](https://user-images.githubusercontent.com/34437499/100617346-67f58800-3340-11eb-89c1-6d027e3de172.png)

[2020-11-30 13:50] lucifer0987 commented on #12
yeah sure!!
I will make a separate issue for codemon clean. And, meanwhile, work on this issue.

PS. :- can we connect with you anywhere apart from github?

[2020-11-30 13:54] lucifer0987 opened #23 "codemon clean"
Follow up to this issue #12

It will be used to delete redundant files left after the contest as discussed in the issue above. We will have a lot of redundant files which will simply eat our storage.
codemon clean will clear up all the mess(prog, input.txt, testcase files) after a contest.

There is a catch to this. We can't randomly delete the mess. We can directly delete prog. But for input.txt,

[2020-11-30 18:22] ankushbhardwxj commented on #21
It's not supposed to compile `prog.exe` in anyway, we are only supposed to compile A.cpp by doing `g++ A.cpp -o prog` and then do `./prog < input.txt`. I believe the reason we are getting this error is because of using `./prog < input.txt` which is valid on UNIX but not on Windows.

You may send a PR for this but make sure the program distinguishes the platform and then performs `./prog < input.tx

[2020-11-30 18:50] ankingcodes opened #25 "Stop running output if compilation fails"
Currently, when compilation fails, the program proceeds to the next step by displaying the output by running the `prog` file which is unnecessary. Therefore if program compilation fails simply display the errors and dont proceed to display program output.

[2020-11-30 20:41] Enigmage commented on #25
Hey, I'd like to work on this issue, can you assign this to me?
Also, I had a question, in case of an error do you want codemon to display some error message of its own, for example:
 ``` codemon: Found an error. Stopping execution. ```
Something like this.
Or, leave it as it is with just the original error message from the compiler ?

[2020-12-01 00:42] paramsiddharth commented on #21
It is actually the concept of PATHEXT that distinguishes executables in Windows/DOS from UNIX/GNU systems. I understand you are using WSL2 but the traditional Windows user has access only to the Command Prompt and PowerShell. A tiny OS-agnostic edit is needed which will fix the bug.

[2020-12-01 04:57] lucifer0987 commented on #21
Yeah, you are right.
What's happening here is, the code is listening for changes and as soon as we change "A.cpp", it is compiled, and prog.exe is generated and its also changed. But, our program doesn't exclude "prog.exe", its only excluding "prog".
Here, by excluding, I mean the files which won't be considered for changes.
And, since it detects "prog.exe" as a changed file. It tries to compile t

[2020-12-01 05:40] ankushbhardwxj commented on #25
@Enigmage - It's a quick fix issue, currently are compiling C++ code and simply moving on to the next step of displaying output without verifying compilation passed or failed. Therefore, we just need to stop showing output if compilation failed and only show output if compilation passed.
We don't need a specific error message from codemon, just the ones from g++ are enough.

[2020-12-01 05:41] ankushbhardwxj commented on #12
I've created a gitter chatroom for this project. Check README.

[2020-12-01 05:42] ankushbhardwxj commented on #21
Thanks @lucifer0987 & @paramsiddharth for explaining. You may proceed with a PR for this.

[2020-12-01 06:04] Enigmage commented on #25
Okay so I'll leave the original error output as it is. So I've fixed this, just have to check the output from `os.system` . There is an error if output is not zero, so based on that we can stop execution. Is it okay if I make a PR for this?

[2020-12-01 06:09] ankushbhardwxj commented on #25
Yeah, you may proceed with a PR.

[2020-12-01 08:13] subhangi2731 commented on #23
can you please assign this issue to me? @lucifer0987

[2020-12-01 08:14] subhangi2731 commented on #19
can you please assign this issue to me? @ankingcodes

[2020-12-01 08:15] subhangi2731 commented on #17
can you please assign this issue to me? @ankingcodes

[2020-12-01 08:16] subhangi2731 commented on #14
can you please assign this issue to me? @ankingcodes

[2020-12-01 08:18] subhangi2731 commented on #13
can you please assign this issue to me? @ankingcodes

[2020-12-01 08:34] paramsiddharth commented on #21
I have made a PR with the fix I had in mind. I used the standard OS-agnostic way of traversing the file(s), instead of explicitly distinguishing between the OSes and executing a different command for each. Let me know what you think, @ankingcodes.

[2020-12-01 08:49] lucifer0987 commented on #23
@subhangi2731 yes, you can work on this.
but, i guess, first i need to complete the issue #12 then, only you can work on cleaning the residual files.

[2020-12-01 10:37] ankushbhardwxj commented on #13
@subhangi2731 - We are not assigning issues so that everyone gets equal opportunity to work on an issue. If you can fix an issue, feel free to send a PR.

[2020-12-01 10:37] ankushbhardwxj commented on #14
@subhangi2731 - We are not assigning issues so that everyone gets equal opportunity to work on an issue. If you can fix an issue, feel free to send a PR.

[2020-12-01 10:38] ankushbhardwxj commented on #17
@subhangi2731 - We are not assigning issues so that everyone gets equal opportunity to work on an issue. If you can fix an issue, feel free to send a PR.

[2020-12-01 10:38] ankushbhardwxj commented on #19
@subhangi2731 - We are not assigning issues so that everyone gets equal opportunity to work on an issue. If you can fix an issue, feel free to send a PR.

[2020-12-01 11:17] #21 closed

[2020-12-01 12:56] Enigmage commented on #25
Hey @ankingcodes I made a new PR with the requested changes since there were a lot of merge conflicts in the previous one. You can check it out.

[2020-12-01 13:18] #25 closed

[2020-12-01 14:51] alphaX86 commented on #14
@ankingcodes I have made some files to resolve this issue, could you review and check it please?

[2020-12-01 15:15] lucifer0987 commented on #21
@ankingcodes
[code]

I am talking in reference to windows OS.
Its happening because, in the current code, we are getting the current working directory and then compiling the file present in that directory. But, if the directory contains whitespaces, it creates error, its not able to recognize the directory.
Maybe, @paramsiddharth didn't check this and thats why he didn't get any error.

After fix

[2020-12-02 01:17] paramsiddharth opened #33 "Migration to "subprocess" for executing commands"
The usage of `os.system` for calling the compilation and execution commands poses several issues we need to address, such as:
- It executes the passed command in a subshell without any control over the process. It would require ` < input.txt` to be suffixed to the command string to send the input data to the compiled executable.
- As previously discussed in #21, it is error-prone in non-GNU system

[2020-12-02 06:21] ankingcodes opened #35 "Fix indent of template"
![22](https://user-images.githubusercontent.com/40923324/100835747-1a8a2f80-3494-11eb-9070-a502e9328422.PNG)

A better fix for this would be to fetch template corresponding to file extension (cpp, java, py) from a directory `.codemon/templates/` (note the `.`, since its hidden) from root directory (`~/`).

[2020-12-02 06:39] ag-hcoder commented on #19
@ankingcodes Could you please elaborate more on this point?

[2020-12-02 06:41] ankushbhardwxj commented on #33
@paramsiddharth - I like the idea of migrating to subprocess since its an improved version of system & also python docs advices us to use subprocess. Please go ahead & make a PR. 👍🏻

[2020-12-02 06:43] ag-hcoder commented on #16
@ankingcodes Can this issue be resolved into separate smaller issues? I'm willing to work on the one you mentioned above

[2020-12-02 07:30] ankushbhardwxj commented on #19
@ag-hcoder - When we compile a program using codemon, the executable is renamed and used as `prog`. But in #12 , we are going to introduce a new directory structure, wherein, we will be able to scrape outputs available at the codeforces website for a problem and then store it in an `.op` file within the problem directory.
Using `codemon test` we want to run "diff" between the outputs of `prog` and

[2020-12-02 07:33] ankushbhardwxj commented on #16
@ag-hcoder - Yeah, they may be resolved but as you'd notice, all of them are interdependent on each other, I'd advice you to work on each of them so that I can award you maximum points.

[2020-12-02 07:34] ankushbhardwxj commented on #16
Note: If the template file is not present at root, we have to generate it automatically.

[2020-12-02 07:40] ag-hcoder commented on #19
I get your point but many at times in cf there are many possible solutions to input, there is no unique answer, how we are going to tackle these?

[2020-12-02 07:42] ag-hcoder commented on #16
Sure

[2020-12-02 08:28] ankushbhardwxj commented on #19
That is not our lookout then, we just care about matching sample outputs to our outputs and show difference between them. If its given in question that it may have many possible solutions then its up to user if they want to use codemon test or not.

[2020-12-02 08:32] ankushbhardwxj commented on #35
@lucifer0987 - I think you can work on this. Let me know 👍🏻

[2020-12-02 08:38] lucifer0987 commented on #35
@ankingcodes yeah sure, I would love to.
I have to create templates for cpp, java and py. These should be stored in '.codemon/templates/' directory.
And, whenever a new file of this extension is created, it should fetch the corresponding template from this directory.

I didn't understand this part.

You also talked about fixing the indent. whats that?

[2020-12-02 08:47] ankushbhardwxj commented on #35
Don't work on this yet. There's a PR already made for java.

Just go to CodemonMeta and fix the indent of CPP Template string there. (It should be aligned to the side, with spaces in specific places) as follows:

![23](https://user-images.githubusercontent.com/40923324/100849879-04d33500-34a9-11eb-988a-0adb6d18a8f4.PNG)

[2020-12-02 09:44] Enigmage opened #37 "Contribution Guidelines"
To streamline the development process and prevent any future conflicts from happening, it might be a good idea to add clear and concise Contribution guidelines and Code of Conduct to the documentation of this repo, specially in light of the recent PR conflicts that happened.

Some example  guidelines we can add for contributors:
- Make short and concise PRs that handle one issue at a time as they

[2020-12-02 10:48] ankushbhardwxj commented on #37
Hey @Enigmage - Thanks for the suggestion, but we are not looking to make changes to the README. Regarding Coding Style guidelines, I'd be more interested if you'd setup some kind of automation CI tool like preetier, which would review every PR made to this repository for its code style and indentation. Do you have any ideas in this regard ?

[2020-12-02 11:29] Enigmage commented on #37
There would be no need to change the README, just a new file **Contributing.md** will be added, link to which will be visible to anyone making a PR to this repo. About the CI system, yeah I can help setting up something like [pycodestyle](https://github.com/marketplace/actions/pycodestyle) through github actions that will check code style in all PRs according to PEP 8 standards. So should I close

[2020-12-02 11:33] lucifer0987 commented on #35
@ankingcodes
should I work on this issue or not?

[2020-12-02 11:34] lucifer0987 commented on #22
@ankingcodes should I close this now?

[2020-12-02 11:44] #22 closed

[2020-12-02 11:44] ankushbhardwxj commented on #35
I believe I have indicated what you have to do.

[2020-12-02 12:08] lucifer0987 commented on #35
@ankingcodes
Don't get me wrong please. I am sorry for this.

You said "don't work on this".

and, then, you told me to do something.
I was really confused. So, I asked.

I am confused now as well. Really sorry.

[2020-12-02 12:35] ankushbhardwxj commented on #35
Sorry for misunderstanding, you're supposed to do this part that I've quoted.

[2020-12-02 12:36] ankushbhardwxj commented on #37
Yeah you can close this and create a new issue for CI. However, please present some more options for style checking. I'm not sure if pycodestyle is reliable.

[2020-12-02 13:11] #35 closed

[2020-12-02 13:22] Enigmage commented on #37
Yeah sure I'll definitely look into more options and keep you updated.

[2020-12-02 13:22] #37 closed

[2020-12-02 22:44] Enigmage opened #42 "Get correct file names per contest."
As we know not everytime questions in Codeforces rounds are `A,B,C,D,E,F` sometimes they are `A, B, C1,C2,D, E` , `A,B,C,D,E,F,G` , `A, B,C,D, E1, E2, F` etc. So initializing a generic `A,B,C,D,E,F` for all contests might create some inconsistencies. We need to get the correct filenames according to the contest.

Locally I have solved this by using web scraping to extract the correct names of the

[2020-12-03 11:44] Enigmage opened #44 "Setup CI/tests"
Opening this on the request of @ankingcodes . It would be helpful to have an automated CI system that can test all PRs for proper coding style (proper indentation and other python standards) and merge/reject them based on the results.

[2020-12-03 11:49] lucifer0987 commented on #44
@Enigmage Are you working on this one? I am asking since you have created this issue and haven't specified if you are working or not. If you are not working, i would like to work on it.

[2020-12-03 15:59] ankingcodes opened #45 "Unit Tests for each command"
We need to add some tests for each command in `codemon`. This is just to make sure each command is doing the work it is supposed to. Test for each command should be written in a separate file, eg, for `codemon init` , create a file `codemonInitDirTest.py` , and so on. Also, create a single master script `build.py` or `runTests.py` which would run all the tests.

These scripts would also be useful

[2020-12-03 16:33] Enigmage commented on #44
@lucifer0987 Yeah sure go ahead. I'm not expecting this one to be only assigned to myself. Anyone can work on adding tests as mentioned in #45.

[2020-12-03 19:09] kumarshobhit opened #46 "I think a pull request template is needed to review Pull request more effectively and efficiently."

[2020-12-04 07:05] ankushbhardwxj commented on #46
Firstly, you should give proper heading when filing an issue. You can describe it in the comments, but the header should be straightforward and short.
And as a maintainer, I'm okay, without a pull request template since the project is not quite huge at the moment. Thanks ! Closing this issue for now.

[2020-12-04 07:05] #46 closed

[2020-12-04 07:07] ankushbhardwxj commented on #44
@lucifer0987 @Enigmage - The tests are independent to the CI, the CI will just run all the tests on  that branch once a PR is made.

[2020-12-04 07:20] kumarshobhit commented on #46
Ok noted. Thanks for the insight.

[2020-12-04 09:02] #33 closed

[2020-12-04 09:05] ankushbhardwxj commented on #12
@yashshah14093 @lucifer0987 - if you're working on this issue, make sure to update your branch to changes made in #41

[2020-12-04 09:08] lucifer0987 commented on #15
@ankingcodes can you please explain this?
Whats ".codemon" here and what does "." stand for?
Thanks!

[2020-12-04 13:18] ankushbhardwxj commented on #15
In UNIX/Linux, hidden files and directories are represented as `.` in front of them

[2020-12-04 15:53] alphaX86 commented on #14
I'm reworking this again "without" introducing changes

[2020-12-05 06:19] ag-hcoder opened #51 "codemon not listening on changes to input.txt"
After having saved the A.cpp and adding inputs to the input.txt file, the A.cpp needs to be saved again for codemon listen to work.

[2020-12-05 09:12] alphaX86 opened #53 "[SUGGESTION] Add 2D ANSI based logo for the tool"
### What is this about?
I've seen some script tools and witnessed that they use some kind of ANSI based lettered logos in it. For example, run neofetch script in Linux, it'll print a vibrant colored logo made of letters. Like that, we can try to implement.

Though, it's a suggestion, it's your call to think on this and review it. So, yep. Awaiting for your reply

[2020-12-05 11:13] lucifer0987 commented on #15
@ankingcodes Where should this .codemon directory be created at?
In the project folder?

[2020-12-05 20:06] #42 closed

[2020-12-05 23:51] Enigmage commented on #17
@ankingcodes I have made a PR for this issue, please review.

[2020-12-06 12:48] ankushbhardwxj commented on #53
@alphaX86 - Do you have any design ready for it ? And when would this graphic be shown ? During `codemon --help` ?

[2020-12-06 12:52] alphaX86 commented on #53
Yes exactly @ankingcodes. During `codemon` and `codemon -- help`

[2020-12-06 12:53] alphaX86 commented on #53
If you allow this one as valid issue, I'll make a design and send it in gitter. We can validate and the design will be made accordingly

[2020-12-06 12:55] ankushbhardwxj commented on #51
@ag-hcoder - On my machine, after adding inputs to the inputs.txt file, if we save the input file, codemon happens to compile and run the previously  compiled file , i.e, if I was working on A.cpp then it automatically compiles A.cpp again and gives output for that.
Also, the core functionality of codemon is to compile files when user simply saves the file and then give output so I think this beha

[2020-12-06 12:58] ankushbhardwxj commented on #53
@alphaX86 - I'm not quite sure about adding this as I prefer keeping CLIs simple and hassle free.
Tagging @paramsiddharth @lucifer0987 @Enigmage for their opinion on this issue.

[2020-12-06 13:01] ankushbhardwxj commented on #15
@lucifer0987 - No, the are to be created at the root directory of Linux, denoted by `~/`.

[2020-12-06 13:06] ag-hcoder commented on #51
Exactly after having saved the input.txt file there should be no need to save A.cpp again, but in my case after having saved Input.txt, I'll have to save A.cpp to see the changed output.

[2020-12-06 13:39] paramsiddharth commented on #53
@ankingcodes I personally think an ANSI-based logo will be a good addition to the application. It would definitely make it more appealing, and since it will be ANSI-based, it won't add much to the size. Besides, I have seen @alphaX86 work with ANSI-based logos before. I'm sure he will have a good design ready for Codemon.

[2020-12-06 13:50] ankushbhardwxj commented on #51
@ag-hcoder - I believe that's okay because if we save the input.txt file, then how will codemon decide which file it has to compile and has to run input on ? So I believe the behavior you're getting to save the file for output is good.

[2020-12-06 13:51] ankushbhardwxj commented on #53
Cool ! @alphaX86 : you may proceed with a design for this, try to keep it minimal. We might use that on our README as well.

[2020-12-06 13:52] alphaX86 commented on #53
Sure! Will do that

[2020-12-06 14:24] ag-hcoder commented on #51
@ankingcodes I think we can have separate input files for each problem. In which we can check that if A.cpp or input.txt is saved, A.cpp has to be compiled and executed again.

[2020-12-06 16:07] Tejas1510 opened #56 "Code of Conduct"
The project is currently missing the Code of Conduct file which is important for open source project
So can I go for it @ankingcodes

[2020-12-06 16:50] KerinPithawala opened #57 "Improve README.md file"
I think it is important to have contributing guidelines so that an open-source contributor know how to contribute properly.
Can I work on this?

[2020-12-06 16:51] Kerveyfelix opened #58 "Add issue template"
Can I make issue templates to enhance the workflow of the repository?

[2020-12-06 16:51] Kerveyfelix opened #59 "Add pull request template"
Can I add pull request template to this project to enhance the workflow of the repository?

[2020-12-07 06:31] alphaX86 commented on #53
I'll send the designs in gitter. You can choose what type you want. Is it okay @ankingcodes ?

[2020-12-07 08:18] ankushbhardwxj commented on #59
@Kerveyfelix - As this is not a big project we are not thinking of adding pull request template as of now. Thanks !

[2020-12-07 08:18] #59 closed

[2020-12-07 08:19] ankushbhardwxj commented on #58
@Kerveyfelix - As this is not a big project and has minimal issues we are not thinking of adding issue templates. Thanks !

[2020-12-07 08:19] #58 closed

[2020-12-07 08:23] ankushbhardwxj commented on #57
@Kerveyfelix - Installation procedures are laid out on our README, and all students are supposed to read contribution guidelines from the NWoC github repo itself, so we are not adding contributing guidelines to the project. Basic instructions are laid out in README.

You may however make changes to the README by making it more attractive. Maybe a list of contributors, maintainers (*only myself rig

[2020-12-07 08:24] ankushbhardwxj commented on #56
@Tejas1510 - As this is not a big project we are not looking to add a Code of Conduct file specifically for the project. Students have already read code of conduct from NWOC github repo.

[2020-12-07 08:24] #56 closed

[2020-12-07 08:45] KerinPithawala commented on #57
Noted. I can work on README.md updation without overcrowding it with stick, gif and other things.

[2020-12-07 08:46] KerinPithawala commented on #59
Sounds good. Let me know if in the case in future this project needs a template. I am willing to contribute without NWoC also.

[2020-12-07 09:09] Tejas1510 commented on #56
Sure @ankingcodes

[2020-12-07 12:53] TusharDasMe opened #60 "In Linux we have two output but we need only one"
![is](https://user-images.githubusercontent.com/49882188/101352700-8ddad980-38b8-11eb-8c39-a4da5b293bd3.jpg)
in linux the file save two times thats why we have two output .

[2020-12-07 13:53] ankushbhardwxj commented on #60
@TusharDasMe - confirming this issue. I'm getting the compilation and output step occurring twice when a file is saved on UNIX based systems. Reproduced on WSL terminal using Vim & VsCode.

[2020-12-07 14:01] sourav-suku opened #61 "Improving the efficiency of template in codemonMeta.py"
More functionalities and macro definitions could be included so as make the coding part even easier

[2020-12-07 14:10] ankushbhardwxj commented on #60
Solution involves usage of [Event Queue](https://pythonhosted.org/watchdog/api.html#watchdog.observers.api.EventQueue), that skips adding the same event (FileSystemEvent) multiple times consecutively.

[2020-12-07 14:13] ankushbhardwxj commented on #61
@sourav-suku - can you post a sample template here ?

[2020-12-07 14:27] ankushbhardwxj commented on #51
We are working on `codemon fetch` which would scrape inputs from codeforces and save them in each of the input file corresponding to the problem name. This issue can be worked on after #55 is merged.

[2020-12-07 15:53] alphaX86 commented on #53
@ankingcodes the PR is created. If you're uncomfortable with the present one I have given and need changes, refer link in the PR I mentioned (#62 )

[2020-12-07 17:21] lucifer0987 opened #63 "validation on codemon reg"
When using codemon reg, empty username and password are also stored to the meta.json file.
We should use a validation here.
Also, If there is already a meta.json file, then, it overwrites the meta.json file.
We also need a validation here.

[2020-12-09 02:11] InfiniteVerma commented on #45
I'll like to work on this.

[2020-12-09 05:46] #17 closed

[2020-12-09 05:48] ankushbhardwxj commented on #57
@Kerveyfelix - If you're working on the README, note that will the merge of #55 , we have lots of new features for codemon such as support for languages such as java & Python and also automated fetching of inputs or outputs from the codeforces website. So make sure to include those points on the README. Thanks !

[2020-12-09 05:48] #12 closed

[2020-12-09 05:48] #13 closed

[2020-12-09 05:48] #14 closed

[2020-12-09 05:49] #15 closed

[2020-12-09 05:50] KerinPithawala commented on #57
Noted.

[2020-12-09 06:07] ankushbhardwxj commented on #18
@Enigmage - I think you can take this one if you want to.

[2020-12-09 06:09] ankushbhardwxj commented on #57
Another thing, please get rid of the current GIF and update it with a new GIF, which displays the current working of Codemon (let me know if you encounter problems using the commands).

[2020-12-09 06:15] KerinPithawala commented on #57
Noted.

[2020-12-09 06:17] Enigmage commented on #18
@ankingcodes sure, I'll try.

[2020-12-09 06:20] ankingcodes opened #66 "Improvements for "codemon fetch""
- When inputs and outputs are written in the `.in` and `.op` files, there's an additional newline at the top of each file, which can cause problems in diffing between outputs during `codemon listen`, therefore, we need to avoid adding that newline either during write or be remove post write.
- Improve all verbose messages and use consistent coloring, currently, some of them are green and some are

[2020-12-09 06:22] ankingcodes opened #67 "Improve Help message `codemon --help`"
Currently, the help message is very unstructured and includes long descriptions. This issue involves rewriting the help messages to something short and concise while maintaining a balanced structure.
The help message can be seen on typing `codemon` or `codemon --help`.
[code]

[2020-12-09 07:12] ankushbhardwxj commented on #45
@InfiniteVerma - Go ahead and send a PR. Note new features of codemon and multiple language support that has been added in recent PR #55

[2020-12-09 09:39] sourav-suku commented on #61
#include <bits/stdc++.h>
using namespace std;
const long long int M = (int)1e9+7;
#define rep(i,a,b) for(int i=a;i<b;++i)
#define repb(i,a,b) for(int i=a;i>=b;--i)
#define ll long long
#define sz(a) (ll)a.size()
#define ssortA(arr)   stable_sort(arr.begin(),arr.end())
#define ssortB(arr)   stable_sort(arr.begin(),arr.end(),greater<int >());
#define pii pair<int,int>
#define ff first
#define ss sec

[2020-12-09 09:40] sourav-suku commented on #61
Sorry for the delay in my response

[2020-12-09 12:48] #63 closed

[2020-12-10 05:00] Enigmage commented on #66
@ankingcodes I agree, the command does seem redundant to the current functionality. I think we should remove it.  There are also a few inconsistencies in `CodemonFetch` module that I want to fix. I'll make a new PR for all this.

As for the second one I think it can be a separate issue, make coloring of all verbose messages consistent and also add better verbose messages for a better user experien

[2020-12-10 05:12] Enigmage opened #68 "Add a sensible default template (java)"
Currently we don't have a proper default template for java. This is the template that gets added to source files during init if the user does not have a custom template in `~/.codemon/` folder.

The goal is to have a sensible default template that is capable of taking care of the basic needs of the user during a competitive programming contest without having too much boilerplate.

The template can

[2020-12-10 05:13] Enigmage opened #69 "Add a sensible default template (python)"
Currently we don't have a proper default template for python. This is the template that gets added to source files during init if the user does not have a custom template in `~/.codemon/` folder.

The goal is to have a sensible default template that is capable of taking care of the basic needs of the user during a competitive programming contest without having too much boilerplate.

The template c

[2020-12-10 06:53] ankushbhardwxj commented on #69
@Enigmage - Go ahead and send in a PR

[2020-12-10 06:54] ankushbhardwxj commented on #68
@Enigmage - go ahead and send a PR

[2020-12-10 06:55] ankushbhardwxj commented on #66
@Enigmage - Yeah, I agree with this. But I'm not a big fan of long messages. Make them verbose wherever required, but try to keep them concise and to the point.

[2020-12-10 13:35] KerinPithawala commented on #57
Pip is not working on my PC.

[2020-12-10 14:28] ankushbhardwxj commented on #57
@Kerveyfelix - What's the error exactly? Did you install pip3 properly ? Or you're unable to install codemon using pip3 ?

[2020-12-10 19:18] cs-mshah opened #71 "Adding custom templates"
It would be great if we could add our custom templates that we generally use, as most of the programmers use their own templates, which vary. So if a template path is specified, then codemon should load that, else the default template is used.

[2020-12-10 19:18] cs-mshah commented on #71
Please assign me this issue

[2020-12-11 06:48] alphaX86 commented on #53
PR merged. So closing this issue

[2020-12-11 06:48] #53 closed

[2020-12-11 08:10] ankushbhardwxj commented on #71
@cs-mshah - This case is already handled, codemon searches for template file at a hidden directory (`~/.codemon`) at root of linux directory system. If a template is not found, only then the default templates are used. You may close the issue if this answers your query.

[2020-12-11 08:32] #61 closed

[2020-12-11 09:14] ankushbhardwxj commented on #23
Reiterating the tasks :
- Check all the files in a contest directory, diff them & see if it has any new content or just previous content.
- Delete all files which have remained unchanged, except input file and output files.

[2020-12-11 11:50] lucifer0987 commented on #69
@ankingcodes what improvements you want in this template?

[2020-12-12 09:28] Siddhant-K-code commented on #69
***Can We Use this?***
[code]

[2020-12-13 13:26] Vishal-raj-1 opened #73 "Contributors Image In Readme"
I think it is a great feature to add contributors image in README file. It really motivate to contributors. It is dynamically order the contributors.

![contrimga](https://user-images.githubusercontent.com/59874304/102012505-dd198200-3d70-11eb-8e1e-379f47ccd7e2.JPG)

If you want to this feature on README so I want to do this issue @ankingcodes  Sir !! 😄

[2020-12-13 19:00] ankushbhardwxj commented on #69
@Siddhant-K-code - Looks good. Send in a PR !

[2020-12-14 03:21] Siddhant-K-code commented on #69
@ankingcodes Please Review #74

[2020-12-14 06:58] alphaX86 opened #75 "[FEAT] C++ template can be updated"
Hello maintainer, I just came across this CP template and it's really awesome!

[CP Template Gist](https://gist.github.com/alphaX86/ad925deb146b66f7ab3149318adb4fb0)

What's your opinion??? And don't tag me this time for comment!!! Just say your review bro, and don't tag me!

[2020-12-14 07:02] alphaX86 commented on #75
Seriously, don't tag me :(

[2020-12-14 07:18] ankushbhardwxj commented on #75
We are not looking to make changes to the default C++ template, we have provided functionality for user to use their own templates in their programs. Therefore, closing this issue now.

[2020-12-14 07:18] #75 closed

[2020-12-14 07:20] ankushbhardwxj commented on #73
People can already see contributors on the right side when they open our repository so I think it doesn't make sense to add them to the README.

[2020-12-14 07:45] Siddhant-K-code opened #76 "Username at the place of author"
We Can Implement the username of author/user in place of `author: @ankingcodes` in templates.

Currently,  we have a command `codemon reg` which will register specific details and store them in a folder `.codemon` at the root of your directory system. I wanted to add a feature that will get the username of the user from that folder if the user has registered else just use "@ankingcodes".

[2020-12-14 07:45] #69 closed

[2020-12-14 07:49] ankushbhardwxj commented on #76
@Siddhant-K-code - Go ahead & make a PR for it.

[2020-12-14 08:23] Vishal-raj-1 commented on #73
No !! They can see few of them only

[2020-12-15 05:58] sourav-suku commented on #57
@ankingcodes  Can I work on this as it is a good first issue for beginners like me.
I wanted to know, is @Kerveyfelix still working on this issue??

[2020-12-15 06:09] ankushbhardwxj commented on #57
@sourav-suku - you can go ahead and make a PR for it. If @Kerveyfelix also sends in a PR, I'll merge the better one.

[2020-12-15 14:44] paramsiddharth commented on #68
Is this issue available at the moment? I'd like to work on this.

[2020-12-15 14:45] paramsiddharth commented on #60
I can confirm the same happens in Windows (CMD, PowerShell, WSL) and MSYS2 as well.

[2020-12-15 14:47] ankushbhardwxj commented on #68
@paramsiddharth - Go ahead 👍🏻

[2020-12-15 14:57] paramsiddharth commented on #68
@ankingcodes Please note that since the filename holds significance in Java classes, we need to decide the class name based on the filename. Also, I have noticed that specifically CodeForces allows any class name for the solution, though "Solution" is preferred by many. To make sure that the classes are compiled and run properly, we need to make sure that the class name is the same as the filename

[2020-12-15 15:14] ankushbhardwxj commented on #68
@paramsiddharth - I'm not very aware about this point that you've discussed since I normally do competitive coding in C++ or Python. You may make the changes as per your research. In case, any Java programmer faces problems, they may make an issue.

[2020-12-15 16:50] devsTudu commented on #23
Hello, can you assign this to me

[2020-12-15 16:57] lucifer0987 commented on #67
@ankingcodes Is this issue still open? I would like to work on it.

[2020-12-16 06:42] ankushbhardwxj commented on #67
@lucifer0987 - Yeah, go ahead !

[2020-12-17 15:22] Enigmage commented on #18
@ankingcodes Hey tell me what you think about this for diffed output:

![suggest](https://user-images.githubusercontent.com/53875706/102505768-677f2000-40a8-11eb-96aa-d61a34788a41.png)

The green lines in the diffed output make up the expected output from `.op` file, red ones make up the current output which does not match the expected output and white lines make up the current output which matche

[2020-12-17 15:44] ankushbhardwxj commented on #18
@Enigmage - This looks great, and way better than what I pictured it to be myself. I'd like to know what have you used to generate the diff, I guess it might be the linux `diff` or maybe `git diff` ?

That said, I think you can improve on the diff a bit more. I mean, the explanation that you gave me in the comment, is it possible to show it within the terminal.
[code]
This will be the game changin

[2020-12-17 16:04] Enigmage commented on #18
I've used python's `difflib` library to generate the diffed output.

Yes it is possible but I'm afraid it can make the output really crowded in certain cases, also it will disorient the blue lines with `?` and `^` that show where the differences have occurred and it will be required to manually add white-spaces in-front of the blue lines to match with the red and green lines so that `^` points to

[2020-12-18 12:09] Enigmage commented on #18
@ankingcodes Like you said, I thought about making the diffed output more intuitive for the user without being too overcrowded and I came up with this: When test case fails, codemon will first display the current output, then after that under the heading `Changes needed` it will display the diffed output. This makes the `+` and `-` signs of the diffed output more intuitive as user will know what i

[2020-12-19 08:28] paramsiddharth commented on #68
@ankingcodes Did you look at #77 ? I took into account the points I made in the previous comment and added a sensible template for Java to `CodemonMeta.py`. Should I make any changes?

[2020-12-19 12:33] ag-hcoder commented on #60
@ankingcodes @paramsiddharth Can you elaborate more on the usage of Event Queue? I am working on this

[2020-12-20 04:41] #68 closed

[2020-12-21 09:25] #66 closed

[2020-12-21 09:29] ankushbhardwxj commented on #67
fixed by #72

[2020-12-21 09:29] #67 closed

[2020-12-21 09:30] ankushbhardwxj commented on #18
@Enigmage - This looks great. We're intending codemon to be used on vertically split terminal so this is ideal. Please send in a PR for this !

[2020-12-23 16:28] #73 closed

[2020-12-26 20:05] paramsiddharth commented on #44
The issue has been free for a couple of weeks now. May I work on the CI and tests?

[2020-12-27 02:35] ankushbhardwxj commented on #44
@paramsiddharth - before setting up the CI, please make a PR with the tests only.

[2021-01-01 16:26] ankushbhardwxj commented on #18
@Enigmage - Are you still interested in working on this ? I've got the work done locally myself, so if you won't be making a PR, I would like to make a PR myself and get this issue done.

[2021-01-01 17:47] Enigmage commented on #18
@ankingcodes hey sorry for the delay, I've been a little busy for the past week in some stuff but I've successfully resumed work on this issue now. There was an edge case I needed to handle and also I've added support for python. So I'm working on it just a little bit of code refactoring and testing left. Best case I'll make the PR by tonight or worst case by tomorrow night.

[2021-01-02 16:34] lucifer0987 commented on #23
@ankingcodes Can you please explain this issue once more?

[2021-01-03 06:57] Git-Harshit opened #81 "Codemon only supports Static and Limited number of Code Files per contest"
Currently, Codemon is only supporting a fixed amount of code files being generated per contest.
As evident for now, `codemon` just supports 3 practice files (which is okay), and 7 contest problem files (A-G, assuming one file per question in a contest, which does not always needs to be valid).

As per the current numbering and naming conventions for problems, it seems like `codemon` is well-adapte

[2021-01-05 17:07] Enigmage commented on #18
@ankingcodes hey I've made the PR regarding this issue, please do check it out.

[2021-01-05 17:27] ankushbhardwxj commented on #18
@Enigmage - sorry for delay in reviewing. Don't worry I'll review this PR and will award you points tomorrow morning.

[2021-01-08 10:32] #18 closed

[2021-02-16 16:48] chilligon opened #82 "Codemon is not testiing my solution [Mac]"
Hi! This is Chilliagon. I really like this tool . I just came to know about it today
I tried to try it in today's contest , the parsing is perfect but even though i am saving it and running the command listen . It doesn't compile my program . I am working on mac. Can you please help

[2021-02-19 06:29] ankushbhardwxj commented on #82
Hi @chilligon - can you provide some screenshot or maybe a log of the error message ?

[2021-02-20 16:31] chilligon commented on #82
Hi @ankingcodes - there is no error message that is coming  - it just pauses and nothing happens. Thanks for quick reply though!

[2021-03-01 19:59] ankushbhardwxj commented on #82
@chilligon - fixed your issue ! Check out the new release.

[2021-03-01 19:59] #82 closed

[2021-03-01 20:01] ankushbhardwxj commented on #81
@Git-Harshit : This is a great suggestion. Although we wanted to work solely for Codeforces (for now), this will be a great step towards supporting other platforms as well. Feel free to send in a PR !

[2021-03-01 20:02] #71 closed

[2021-03-01 20:02] ankushbhardwxj commented on #60
This issue has been fixed in the new release 3101dfb

[2021-03-01 20:02] #60 closed

[2021-03-01 20:04] ankushbhardwxj commented on #19
Currently, codemon listen performs diff operation, so this issue is closed for now.

[2021-03-01 20:04] #19 closed

[2021-03-02 13:25] chilligon commented on #82
Hi @ankingcodes tried it again today! still the same issue
![Screenshot 2021-03-02 at 6 54 45 PM](https://user-images.githubusercontent.com/78139281/109654919-c3762280-7b88-11eb-81df-ad812b8d8ddd.png)
Still even though I have changed the file its not judging. Please help!

[2021-03-02 14:52] ankushbhardwxj commented on #82
@chilligon That's strange ! Did you update the project to the latest commit ? If not, I'd suggest you to remove codemon and do a fresh install. You can type `whereis codemon` and get rid of the binary. After that clone this repository, and follow the following steps:
[code]
This is a program and output which works on my terminal.
[code]
Output:
[code]

[2021-07-15 07:17] ankushbhardwxj commented on #23
Done 72938ac11f63f7fbf8f5b59e811fd8cc7c87e861 !

[2021-07-15 07:17] #23 closed

[2021-07-15 07:18] #16 closed

[2021-07-21 19:42] ankingcodes opened #83 "Fix commands arg parsing"
Required to rewrite the parser to parse command arguments properly.

[2021-07-21 19:43] ankingcodes opened #84 "Fix Codemon Listen"
Codemon listen has issues in fetching correct testcases in contest folder scenario. Works fine for individual contest files.
Doesn't take input from A.in and not matching to A.op !

[2021-08-01 00:54] #84 closed

[2021-08-01 00:55] ankushbhardwxj commented on #83
fixed via af165ff69329e02ec9c461436dff12db876627e0

[2021-08-01 00:55] #83 closed

[2021-08-01 00:55] #51 closed

[2021-08-01 00:56] ankushbhardwxj commented on #45
Fixed via 909cc1c

[2021-08-01 00:56] #45 closed

[2021-08-01 00:57] ankushbhardwxj commented on #57
Done via 5eeec42143cfb69f8aa32c324258a5855425e34a

[2021-08-01 00:57] #57 closed

[2021-08-01 00:59] ankushbhardwxj commented on #81
Update: Using `codemon init -f | --fetch {CF_ContestNo.}` can be used while creating contest directories for codeforces contests. This would create the necessary files and also fetch inputs and outputs from Codeforces.
In the future, we can support `--count` flag to support CodeChef.

[2021-08-01 01:14] ankingcodes opened #85 "Advent of Code support ?"
- [ ] Fetch inputs & outputs from AOC website on a given day and year. Check if Output can actually be parsed.
- [ ] Codemon listen should easily compile & run C++, Java & Python.

[2021-09-15 12:23] kmrakash opened #86 "Command description in ReadMe"
I am a new user of this tool but I don't know how to use this tool what command need to use .
Please provide a description of the command it can handle.
Thanks

[2021-09-15 12:49] ankushbhardwxj commented on #86
Type `codemon --help` on terminal after installation. It will give output as follows:
[code]

[2022-08-29 18:41] ankushbhardwxj opened #87 "not working on M1 mac"

[2022-08-31 16:05] #87 closed

[2022-08-31 16:06] ankushbhardwxj opened #88 "Publish a latest version to pip"
Publish a latest version to pip and make sure it works across platforms

[2022-08-31 16:08] ankushbhardwxj opened #89 "watchdog runs twice after saving file"

[2022-09-05 13:45] ankushbhardwxj commented on #89
Runs once on Vim Save, but twice on VSCode Save